.landing {
    background-image: url("../../assets/Backgrounds/landing.png");
    background-position:center;
    background-size: 100% 100%;
    height:300vh;
}

.button-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 140%;
    width: 100%;
}


