.PictureRound {
    background-image: url("../../assets/Backgrounds/picture_round.png");
    background-position:center;
    background-size: 100% 100%;
    height:300vh;
}

.triangle-container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 27%;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #E0BB20;
  }

.h1-container{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 30%;
}

h1 {
    color: #E0BB20;
    font-size: 90px;
}

.picture-round-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    left: 2%;
    top: 28%;
    width: 95%;
    height: 57%;
}

.picture-and-text-container {
    height: 30%;
    margin: auto;
    width: 30%;
}

.picture {
    background-image: url("../../assets/Pictures/poker_club.png");
    background-position: center;
    background-size: cover;
    border-radius: 7%;
    height: 65%;
    margin: 5%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    width: 90%;
}

.text-box-container {
    display: flex;
    height: 24%;
    width: 100%
}

.picture-button-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 26.5%;
    width: 100%;
}