.text-box {
    background-color: #004463;
    border: none;
    border-radius: 15%;
    color: #E0BB20;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    outline: none;
    margin-left: 1%;
    margin-top: 3%;
    padding: 2%;
    height: 40%;
    width: 120%;
    text-transform: uppercase;
}